# .gitignore
#

# node / npm
build
node_modules
npm-debug.log

# packaging
informix-*.tgz

# istanbul
coverage

# jsdoc generated docs
docs

# wercker
_builds/
_cache/
_projects/
_steps/
_temp/

# temporary files
*.swp
*~

